{% extends 'base.html' %}
{% block body %}

    <header class="bg-primary text-center py-5 mb-4">
          <h1 class="fw-light text-white">Meet the Team</h1>
      </header>
      
      <!-- Page Content -->
    <div class="container">
        <div class="row">
          <!-- Team Member 1 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Vadthyavath Mahesh</h5>
                <div class="card-text text-black-50">20H51A0526<br>maheshnayak1352@gmail.com</div>
              </div>
            </div>
          </div>
          <!-- Team Member 2 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Thakkuri Ajay</h5>
                <div class="card-text text-black-50">20H52A05M0<br>ajju23062@gmail.com</div>
              </div>
            </div>
          </div>
          <!-- Team Member 3 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="https://source.unsplash.com/sNut2MqSmds/500x350" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Neeradi Keerthi</h5>
                <div class="card-text text-black-50">20H51A0542<br>keerthi.neeradi05@gmail.com</div>
              </div>
            </div>
          </div>
      
      </div>


{% endblock body %}